{% extends 'navbar/dashboardnav.html' %}


{% load static %}

{% block content %}


<div class="container">
  <div  class="row flex-column-reverse flex-md-row">
    <div class="col-md-6">

      <div>
        <div class="card-body">
          <h4 class="card-title h1 fw-bold mb-4">{{event.title}}</h4>
          <p class="card-text h4"><span class='h4'>Topic : &nbsp;</span>{{event.topic}}
            
          </p>
          <hr>
          <p class="card-text h4"><span  class='h4'>Description : &nbsp;</span>{{event.description}}

            
           
                </span> 


          </p>
          <hr>
          <p class="card-text h4"><span  class='h4'>Targeted Audience : &nbsp;</span>{% for ta in event.targetted_audience.all %}{{ ta }}<br>{% endfor %}

            
           
          </span> 


    </p>
    <hr>
    <time
    datetime="2020-05-25 12:00:00"
    style="font-weight: bold"
  >
    <ion-icon
      class="mt-3"
      name="calendar-clear-outline"
    ></ion-icon
    >&nbsp;
    <span class="mt-0 h5"
      >{{event.from_date}} - {{event.to_date}}</span
    >
  </time>
  <div class="d-flex mt-2">
    <ion-icon name="location-outline"></ion-icon>
    <p class="ms-2">{{event.venue}} </p>
  </div>
  <div class="d-flex">
    <ion-icon name="pricetags"></ion-icon>
    <p class="ms-2">{{event.registration_fees}} Rs</p>
  </div>
        </div>
      </div>
     <div class=" d-flex flex-row justify-content-around">


      <div>


        {% if userevents.paper is True or userevents.poster is True %}

{% else %}
{% if userevents %}
<div class="bg-success mt-5  rounded ">Already registered</div>
{% else %}

<button style="margin-right: 3px;" type="button" class="btn btn-primary mt-5 " data-bs-toggle="modal" data-bs-target="#registerasparticipant">

Register as participant
</button>

{% endif %}
{% endif %}

       
       

      </div>
      {% if event.paper_submited %}
      <div>

       
        <!-- Button trigger modal -->
        
        
        {% if userevents.paper is True %}
        <div class="text-success mt-5 rounded "><ion-icon name="checkmark-done-outline"></ion-icon>Paper submitted</div>
        {% else %}
        <button type="button" style="margin-right: 3px;" class="btn btn-primary  mt-5 " data-bs-toggle="modal" data-bs-target="#Papersubmition">
            Submit Paper
          </button>
        {% endif %}
       
        

        
      </div>
      {% endif %}
      {% if event.poster_submited %}
      <div>
       

        {% if userevents.poster is True %}
      
        <div class="text-success mt-5 rounded "><ion-icon name="checkmark-done-outline"></ion-icon>Poster submitted</div>
        {% else %}
        <button type="button" style="margin-right: 3px;" class="btn btn-primary   mt-5 " data-bs-toggle="modal" data-bs-target="#Postersubmition">
            Submit Poster
          </button>
        {% endif %}
       
        

       
        
      </div>
      {% endif %}


      {% if event.context %}
      <div>
       

        {% if userevents.context is True %}
      
       
        <div class="text-success mt-5 rounded "><ion-icon name="checkmark-done-outline"></ion-icon>Context submitted</div>
              {% else %}
        <button type="button" class="btn btn-primary    mt-5 " data-bs-toggle="modal" data-bs-target="#context">
            Submit context
          </button>
        {% endif %}
       
        

       
        
      </div>
      {% endif %}

     </div>
        




        <div class="modal fade" id="registerasparticipant" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register as participant</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Do you want to register as participant
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
               <a href="{% url 'register_as_participant' event.id %}"> <button type="button"  class="btn btn-primary"> Register</button></a>
              </div>
            </div>
          </div>
        </div>
   









<div class="modal fade" id="context" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">context submition</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
  <div class="myform ">
    <h1 class="text-center">context submition</h1>
    <form method="post" action="/user_context_registration/{{event.id}}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input name="name" type="text" class="form-control" id="name" aria-describedby="emailHelp">
          </div>
  
  
  
  
          
  
  
          <div class="form-group mt-3">
            <label for="photo">ContextFile</label>
            <input name="contextfile" type="file" class="form-control" id="photo">
          </div>
        
  
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">submit context</button>
             
            
          </div>
    </form>
  </div>
  </div>
  
  </div>
  </div>
  </div>

<div class="modal fade" id="Papersubmition" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Paper submition</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<div class="myform ">
  <h1 class="text-center">Paper submition</h1>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
          <label for="name">Paper Name</label>
          <input name="papername" type="text" class="form-control" id="name" aria-describedby="emailHelp">
        </div>




        <div class="form-group mt-3">
          <label for="num">Abstract</label>
          
          <textarea name="abstract" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>


        <div class="form-group mt-3">
          <label for="photo">PaperFile</label>
          <input name="paperfile" type="file" class="form-control" id="photo">
        </div>
      

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">submit paper</button>
           
          
        </div>
  </form>
</div>
</div>

</div>
</div>
</div>


<div class="modal fade" id="Postersubmition" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="exampleModalLabel">Poster submition</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<div class="myform ">
  <h1 class="text-center">Poster submition</h1>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
          <label for="name">Poster Name</label>
          <input name="postername" type="text" class="form-control" id="name" aria-describedby="emailHelp">
        </div>




        <div class="form-group mt-3">
          <label for="num">Abstract</label>
          
          <textarea name="posterabstract" id="" cols="30" rows="10" class="form-control"></textarea>
        </div>


        <div class="form-group mt-3">
          <label for="photo">PosterFile</label>
          <input name="posterfile" type="file" class="form-control" id="photo">
        </div>
      

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit Poster</button>
        </div>
  </form>
</div>
</div>

</div>
</div>
</div>
</div>
  
    <div class="col-md-6 " >
      <div class=" border-0" style=" height: 100%;">
        <img src="{% static event.event_image.url %}" class="card-img-top rounded-3 " style="height:30rem;">
      </div>
    </div>

  </div>
</div>

<style>
ion-icon {
font-size: 20px;
}


</style>









{% endblock %}