{% extends 'main.html' %}
{% block content %}

<div class="text-left">
  <a style="text-decoration: none;" href="{% url 'home' %}"><h1 class="">CMS</h1></a>
</div>


<section>


<div class="container-fluid">

<div class="row d-flex  align-items-center justify-content-center vh-100"  >

<div class="col-12 col-md-6 col-lg-3">

  {% if messages %}
        
  {% for message in messages %}
   <div class="alert alert-info">

{{ message }}

{% endfor %}
 {% endif%}
        <div class="card mx-auto border-0  shadow" style="height: 40rem;"  >
            <div class="card-body">
                <h1 class="text-center mb-5">RESET PASSWORD</h1>
              <form method="post">
                {% csrf_token %}
                  
                  {{form}}
                  
                  
                  <div class="text-center">
                  <p><input class="btn btn-primary" type="submit" name="" id=""></p>
                  </div>
                </form>
            
            </div>
        </div>

</div>

</div>
</div>
</section>


{% endblock %}