{% extends 'dashboardnav.html' %}


{% load static %}

{% block content %}

<div >
    <div class="container text-center my-3">
      <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" role="listbox">

            {% for event in  events %}
        

                <div class="carousel-item active">
                    <div class="col-md-3">
                  
                      <div class="card">
                        <a href="">
                        <div class="card-img">
                         <a href="{% url 'eventregistration' event.id %}"><img src="{% static event.event_image.url %}" class="img-fluid"></a> 
                        </div>
                  
                        
                      </div>
                    </div>
                  </div>
                    
            {% endfor %}
            
            
            
            
          </div>
          <a class="carousel-control-prev bg-transparent w-aut shrink-btn" href="#recipeCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next bg-transparent w-aut shrink-btn" href="#recipeCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>		
    </div>
    
<div class="text-center h1" > OUR EVENTS</div>

<div>
 <section class="bg-light pt-5 pb-5 shadow-sm">
    <div class="container">
      
      <div class="row text-center">
        <!--ADD CLASSES HERE d-flex align-items-stretch-->
        <h4>Current Events</h4>
        {% for event in event %}
        {% if event.to_date > today %}
        <div>
        <div class="col-md-4 ">
          <a href="{% url 'eventregistration' event.id %}">

            <div class="card mt-5" style="width: 18rem;">
                  <img src="{% static event.event_image.url %}" class="card-img-top" alt="..." style="height: 15rem;"> 
                <div class="card-body">
                  <p class="card-text text-center">{{event.title}}</p>
                  <p class="card-text"><span style="font-weight: bold;">TOPIC:&nbsp;</span>{{event.topic}}
    


                  </p>
                  
                  
  <div class="d-flex flex-row">
    <div>

        <ion-icon  name="calendar"></ion-icon>
    </div>
    <div><p>:{{event.from_date}}-{{event.to_date}}</p></div>
  </div>
  <div class="d-flex flex-row">
    <div>

        <ion-icon name="location"></ion-icon>
    </div>
    <div><p>:{{event.venue}}</p></div>
  </div>

  <div class="d-flex flex-row">
    <div>

        <ion-icon name="pricetags"></ion-icon>
    </div>
    <div><p>:{{event.registration_fees}}</p></div>
  </div>
                </div>
              </div>
          </a>
         
        </div>
      </div>
        {% endif %}
        {% endfor %}
        <h4>Past Events</h4>
        {% for event in event %}
        {% if event.to_date < today %}
        <div>
        <div class="col-md-4 ">

            <div class="card mt-5" style="width: 18rem;">
                  <img src="{% static event.event_image.url %}" class="card-img-top" alt="..." style="height: 15rem;"> 
                <div class="card-body">
                  <p class="card-text text-center">{{event.title}}</p>
                  <p class="card-text"><span style="font-weight: bold;">TOPIC:&nbsp;</span>{{event.topic}}
    


                  </p>
                  
                  
  <div class="d-flex flex-row">
    <div>

        <ion-icon  name="calendar"></ion-icon>
    </div>
    <div><p>:{{event.from_date}}-{{event.to_date}}</p></div>
  </div>
  <div class="d-flex flex-row">
    <div>

        <ion-icon name="location"></ion-icon>
    </div>
    <div><p>:{{event.venue}}</p></div>
  </div>

  <div class="d-flex flex-row">
    <div>

        <ion-icon name="pricetags"></ion-icon>
    </div>
    <div><p>:{{event.registration_fees}}</p></div>
  </div>
                </div>
              </div>
         
        </div>
      </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </section>
</div>


{% endblock %}
