{% extends 'main.html' %}
{% block content %}

<div class="text-left">
  <h1 class="">CMS</h1>
</div>


<section>


<div class="container-fluid">

<div class="row d-flex  align-items-center justify-content-center vh-100"  >

<div class="col-12 col-md-6 col-lg-3">

  {% if messages %}
        
  {% for message in messages %}
   <div class="alert alert-info">

{{ message }}

{% endfor %}
 {% endif%}
        <div class="card mx-auto border-0  shadow" style="height: 30rem;"  >
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                  <h1 class="text-center mb-5">LOGIN</h1>
                  <div class="mb-3">
                    <label for="user" class="form-label">Username</label>
                    <input name="username" type="text" class="form-control" id="user" aria-describedby="emailHelp">
                  
                  </div>
                  <div class="mb-4 pt-4" >
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input name="password"  type="password" class="form-control" id="exampleInputPassword1">
                    <div class="float-end ">
                    <a href="">forgot password</a>
                    </div>
                  </div>
                  
                  <div class="text-center pt-4 pb-5">
                  <button type="submit" class="btn btn-primary btn-lg ">Login</button>
                  </div>
                  <div class="text-center">
                  <p class="">Don't have an account?<a href="{% url 'register'%}">SignUp</a></p>
                  </div>
                </form>
            
            </div>
        </div>

</div>

</div>
</div>
</section>


{% endblock %}