{% extends 'main.html' %}
{% block content %}

<div class="text-left">
  <a style="text-decoration: none;" href="{% url 'home' %}"><h1 class="">CMS</h1></a>
</div>


<section>


<div class="container-fluid">

<div class="row d-flex  align-items-center justify-content-center vh-100"  >

<div class="col-12 col-md-6 col-lg-3">

  {% if messages %}
        
  {% for message in messages %}
   <div class="alert alert-info">

{{ message }}

{% endfor %}
 {% endif%}
        <div class="card mx-auto border-0  shadow" style="height: 15 rem;"  >
            <div class="card-body">
              <form method="post">
                {% csrf_token %}
                  <h3 class="text-center mb-5">CHANGE PASSWORD</h3>
                  <!-- {{form}} -->
                  
                  <div class="form-group mt-3">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                  </div>
                  <div class="text-center mt-4">
                 <input class="btn btn-primary" type="submit" name="send email">
                  </div>
                </form>
            
            </div>
        </div>

</div>

</div>
</div>
</section>


{% endblock %}