{% extends 'navbar/dashboardnav.html' %}


{% load static %}

{% block content %}




<div>
    <div style="display: flex; align-items:end ;flex-direction: column;" class="">
      <a href="" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#addevent"><ion-icon style="color: rgb(255, 255, 255);font-size: 22px;  float: left;" name="add-circle-outline">&#xE147;</ion-icon><span>Add Reviewer Paper</span> </a>
    </div>
<div class=""></div>
    <table class="table table-hover mt-5">
        <thead>
          <tr style="background-color:#585960; color:white ;">
            <th scope="col">Reviewer Name</th>
            <th scope="col"> Paper Name</th>
            <th scope="col">Event Name </th>
            <th scope="col">From Date</th>
            <th scope="col">To Date</th>
            
           
            
            <th scope="col"  >Venue</th>
            <th scope="col">Registration Fees</th>
            
            <th scope="col">Status</th>
            <th scope="col">CRP Status</th>
            <th scope="col" colspan="3" >Actions</th>
            
            

          </tr>
        </thead>
        <tbody>

            {% for event in paper %}
          <tr>
            <th scope="row">{{event.userid}} </th>
            <td>{{event.papername.papername}}</td>
            <td>{{event.papername.event.title}}</td>
            <td>{{event.papername.event.from_date}}</td>
            <td>{{event.papername.event.to_date}}</td>
            
            <td>{{event.papername.event.venue}}</td>
            <td>{{event.papername.event.registration_fees}}</td>
            <td class="text-white">
              {% if event.papername.status == 'pending' %}
                            <span class="bg-primary rounded">Pending</span>
                            {% elif event.papername.status == 'accepted' %}

                            <span class="bg-success rounded">Accepted</span>
                            {% elif event.papername.status == 'declined' %}
                            <span class="bg-danger rounded">Declined</span>
                            {% endif %}
            </td>
            
            {% if event.papername.status == 'accepted' %}
            <td class="text-white">
              {% if event.papername.camera_ready_submition_status == 'pending' %}
              
              <span  class="bg-primary  rounded ">Pending</span>
              {% elif event.papername.camera_ready_submition_status == 'accepted' %}
            <span class="bg-success rounded">Approved</span>
              {% elif event.papername.camera_ready_submition_status == 'declined' %}
            <span class="bg-danger rounded">Declined</span>
            {% elif event.papername.camera_ready_submition_status == 'active' %}
            <span  class="bg-info rounded ">Active</span>
            {% endif %}
          </td>
          {% else %}
          <td></td>
          {% endif %}
            <td>
              
              
                       
              <a style="cursor: pointer;" class="" data-bs-toggle="modal" data-bs-target="#editevent{{event.id}}"> <span data-bs-toggle="tooltip" data-bs-placement="top" title="edit"><ion-icon   style="font-size: 22px; color: orange;pointer-events: none;" name="pencil"></ion-icon> </span></a>

               <div class="modal fade" id="editevent{{event.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Reviewer Paper</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <div class="myform ">
                  <h1 class="text-center">Edit Reviewer Paper</h1>
                  <form action="/admin_edit_reviewer_paper/{{event.id}}" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                          <label for="name">Reviewer Name{{event.papername.userid.username}}</label>
                          
                          <select name="userid" id="">
                           
                            {% for i in reviewer %}
                            {% if event.userid == i.userid %}
                            <option value="{{i.userid.id}}" selected>{{i.userid.username}}</option>
                            {% else %}
                            <option value="{{i.userid.id}}">{{i.userid.username}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </div>
                
                
                
                
                        <div class="form-group mt-3">
                          <label for="num">Paper</label>
                          <select name="papername" id="">
                            <option value="" ></option>
                            {% for i in ps %}
                            {% if event.papername.papername == i.papername %}
                            <option value="{{i.id}}" selected>{{i.papername}}</option>
                            {% else %}
                            <option value="{{i.id}}" >{{i.papername}}</option>
                            {% endif %}
                            {% endfor %}
                          </select>
                        </div>
                
                        
                       
                      
                
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-info">Save changes</button>
                           
                          
                        </div>
                  </form>
                </div>
                </div>
                
                </div>
                </div>
                </div>
            
               
            </td>
            <td> <a href="" data-bs-toggle="modal" data-bs-target="#deleteevent{{event.id}}" ><span data-bs-toggle="tooltip" data-bs-placement="top" title="delete"><ion-icon style="font-size: 22px; color: red; pointer-events: none;" name="trash"></ion-icon></span></a>


              <div class="modal fade" id="deleteevent{{event.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete Event</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                     are you sure ? want to delete <span style="color: red;">{{event.userid}}</span>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <a href="{% url 'admin_delete_reviewer_paper' event.id %}" class="btn btn-danger">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            </td>
            
            <td><a href="" data-bs-toggle="modal" data-bs-target="#viewevent{{event.id}}" ><span data-bs-toggle="tooltip" data-bs-placement="top" title="view"><ion-icon style="font-size: 22px;color: green; pointer-events: none;" name="eye"></ion-icon></span></a>
              <div class="modal fade" id="viewevent{{event.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"> Event</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class=" " >
                        <form action="/admin_edit_paperpage/{{event.papername.id}}" method="post">
                          {% csrf_token %}
                        <div class="d-flex justify-content-center"><select name="status" class="form-select w-50" aria-label="Default select example">
                          <option class="" value="pending" {% if event.papername.status == 'pending' %} selected {% endif %}>Pending</option>
                          
                          <option class=" " value="accepted"  {% if event.papername.status == 'accepted' %} selected {% endif %}>Accepted</option>
                          <option class=" " value="declined"  {% if event.papername.status == 'declined' %} selected {% endif %}>Decline</option>
                        </select></div>
      

                  <div class=" mt-5">
                    <p><span style="font-weight: bold;">PAPER NAME:</span> 
                    {{event.papername.papername}}
                    </p>
                  </div>

                  <div class="mt-5 text-center">

                    <embed type="application/pdf"
                            src="{% static event.papername.paperfile.url %}"
                            width="100%" height="100%"/>


                            <a href="{{ event.papername.paperfile.url }}" class="btn btn-primary mt-3">Preview</a>

                  </div>
                 
                  <div class=" mt-3 border ">
                    <p><span>ABSTRACT:</span> 
                    {{event.papername.abstract}}
                    </p>
                  </div>

                  <div   class="mt-5 text-center">
                    <div class="form-floating">
                      
                        <textarea readonly  class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">{{event.papername.remark}}</textarea>
                        <label for="floatingTextarea2"> Rewiewer Remarks</label>
                        
                      </div>
                      

                  </div>
                  <div   class="mt-5 text-center">
                    <div class="form-floating">
                      
                        <textarea readonly  class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">{{event.papername.chair_co_chair_remark}}</textarea>
                        <label for="floatingTextarea2">chair / co_chair Remarks</label>
                        
                      </div>
                      

                  </div>
                  {% if event.papername.camera_ready_submition_status != 'active' %}
                  <div class="d-flex justify-content-center mt-5"><select name="camera_ready_submition_status" class="form-select w-50" aria-label="Default select example">
                    <option class="" value="pending" {% if event.papername.camera_ready_submition_status == 'pending' %} selected {% endif %}>Pending</option>
                    
                    <option class=" " value="accepted" {% if event.papername.camera_ready_submition_status == 'accepted' %} selected {% endif %}>Accepted</option>
                    <option class=" " value="declined" {% if event.papername.camera_ready_submition_status == 'declined' %} selected {% endif %}>Decline</option>
                  </select>
                  
                </div>
                  <div class="mt-5 text-center">
                    <label for="">CRP FILE</label>

                    <embed type="application/pdf"
                            src="{% static event.papername.camera_ready_submition.url %}"
                            width="100%" height="100%"/>


                            <a href="{{ event.papername.camera_ready_submition.url }}" class="btn btn-primary mt-3">Preview</a>

                  </div>
                  {% endif %}

                  <div   class="mt-5 text-center">
                    <div class="form-floating">
                      
                        <textarea  name="admin_remark" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px">{{event.papername.admin_remark}}</textarea>
                        <label for="floatingTextarea2">admin Remarks</label>
                        
                      </div>
                      

                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-info">Save changes</button>
                     
                    
                  </div>

                </form>
                      </div>
                  
                    </div>
                  </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            
            
            </td>
            
            
            
          </tr>


         



          {% endfor %}
          
          
        </tbody>
      </table>






      






<div class="modal fade" id="addevent" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Add Reviewer Paper</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
  <div class="myform ">
    <h1 class="text-center">Add Reviewer Paper</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Reviewer Name</label>
            <!-- {{form.userid}} -->
            <select name="userid" id="">
              <option value="" ></option>
              {% for i in reviewer %}
              <option value="{{i.userid.id}}">{{i.userid.username}}</option>
              {% endfor %}
            </select>
            
          </div>
  
  
  
  
          <div class="form-group mt-3">
            <label for="num">Paper Name</label>
            <select name="papername" id="">
              <option value="" ></option>
              {% for i in ps %}
              <option value="{{i.id}}">{{i.papername}}</option>
              {% endfor %}
            </select>
            
          </div>
  
  
          
        
  
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
             
            
          </div>
    </form>
  </div>
  </div>
  
  </div>
  </div>
  </div>
      <style>
        .table{
          border-radius: 5px;
          overflow: hidden;
          border-color: black;
    
        }
      </style>
</div>




{% endblock %}