{% extends 'navbar/dashboardnav.html' %}


{% load static %}

{% block content %}


    <div>
    <h1 class="text-center">PAPER DETAILS</h1>
    <hr>
    <div class="container">
      {% if reviewerpaper%}
      <div class="row">
        
    <table class="table table-hover">
        <thead>
          <tr style="background-color:#585960; color:white ;">
            <th scope="col">User Name</th>
            <th scope="col">Paper Id</th>
            <th scope="col">Event Name</th>
            <th scope="col">Paper Name</th>
            <th scope="col">Resubmition Status</th>
            <th scope="col"  > From Date</th>
            
            <th scope="col"  > To Date</th>
            <th scope="col">Status</th>
            <th scope="col">Camera Ready Paper Status</th>

            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>

            {% for details in reviewerpaper %}
          <tr>
            <th scope="row">{{details.papername.userid}}</th>
            <td>{{details.papername.pk}}</td>
            <td>{{details.papername.event.title}}</td>
            <td>{{details.papername.papername}}</td>
            <td>{% if details.papername.submit_count == 1 %}Resubmitted{% else %}Reviewed/pending{% endif %}</td>
            <td>{{details.papername.event.from_date}}</td>
            <td>{{details.papername.event.to_date}}</td>
            <td>
                {% if details.papername.status == 'pending' %}
                
                <span style=" border-radius: 3px;" class="text-warning ">Pending</span>
                {% elif details.papername.status == 'accepted' %}
              <span style=" border-radius: 3px;" class=" text-success ">Approved</span>
                {% elif details.papername.status == 'declined' %}
              <span style=" border-radius: 3px;" class="text-danger  ">Declined</span>
              {% endif %}
            </td>

            {% if details.papername.status == 'accepted' %}
            <td>
              {% if details.papername.camera_ready_submition_status == 'pending' %}
              
              <span style=" border-radius: 3px;" class="text-warning ">Pending</span>
              {% elif details.papername.camera_ready_submition_status == 'accepted' %}
            <span style=" border-radius: 3px;" class="text-success ">Approved</span>
              {% elif details.papername.camera_ready_submition_status == 'declined' %}
            <span style=" border-radius: 3px;" class="text-danger ">Declined</span>
            {% elif details.papername.camera_ready_submition_status == 'active' %}
            <span style=" border-radius: 3px;" class="text-primary ">Active</span>
            {% endif %}
          </td>
          {% else %}
          <td></td>
          {% endif %}
            
            <td><a href="{% url 'reviewerpaperpage' details.papername.pk %}" class="btn btn-primary text-white ">details</a></td>
            
          </tr>
          {% endfor %}
          
          
        </tbody>
      </table>
      </div>
      {%else%}
      <p class="text-center  h3 pt-3">No data Available</p>
        {% endif %}


<div class="row mt-5">
    <h1 class="text-center">POSTER DETAILS</h1>
    <hr>
    {%if reviewerposter%}
        <table class="table table-hover">
            <thead>
              <tr style="background-color:#585960; color:white ;">
                <th scope="col">User Name</th>
                <th scope="col">Poster Id</th>
                <th scope="col">Event Name</th>
                <th scope="col">Poster Name</th>
                <th scope="col">Resubmition Status</th>
                <th scope="col"  >From Date</th>
                
                <th scope="col" > To Date</th>
                <th scope="col">Status</th>
                <th scope="col">Camera Ready Poster Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for details in reviewerposter %}
                <tr>
                  <th scope="row">{{details.postername.userid}}</th>
                  <td>{{details.postername.pk}}</td>
                  <td>{{details.postername.event.title}}</td>
                  <td>{{details.postername.postername}}</td>
                  <td>{% if details.postername.submit_count == 1 %}Resubmitted{% else %}Reviewed/pending{% endif %}</td>
                  <td>{{details.postername.event.from_date}}</td>
                  <td>{{details.postername.event.to_date}}</td>
                  <td>
                      {% if details.postername.status == 'pending' %}
                      
                      <span style=" border-radius: 3px;" class=" text-warning ">Pending</span>
                      {% elif details.postername.status == 'accepted' %}
                    <span style=" border-radius: 3px;" class=" text-success ">Approved</span>
                      {% elif details.postername.status == 'declined' %}
                    <span style=" border-radius: 3px;" class="text-danger ">Declined</span>
                  </td>
                  {% endif %}

                    {% if details.postername.status == 'accepted' %}
                  <td>
                    {% if details.postername.camera_ready_submition_status == 'pending' %}
                    
                    <span style=" border-radius: 3px;" class="text-warning ">Pending</span>
                    {% elif details.postername.camera_ready_submition_status == 'accepted' %}
                  <span style=" border-radius: 3px;" class="text-success ">Approved</span>
                    {% elif details.postername.camera_ready_submition_status == 'declined' %}
                  <span style=" border-radius: 3px;" class="text-danger ">Declined</span>
                  {% elif details.postername.camera_ready_submition_status == 'active' %}
                  <span style=" border-radius: 3px;" class="text-primary ">Active</span>
                  {% endif %}
                </td>
                {% else %}
                <td></td>
                {% endif %}
                  <td><a href="{% url 'reviewerposterpage' details.postername.pk %}"  class="btn btn-primary text-white ">details</a></td>
                  
                  
                  
                </tr>
                {% endfor %}
              
              
              
            </tbody>
          </table>
          </div>
        {%else%}
        <p class="text-center  h3 pt-3">No data Available</p>
          {% endif %}
    </div>



    <div class="row mt-5">
      <h1 class="text-center">CONTEXT DETAILS</h1>
      <hr>
        {% if reviewercontext %}
          <table class="table table-hover">
              <thead>
                <tr style="background-color:#585960; color:white ;">
                  <th scope="col">User Name</th>
                  <th scope="col">Context Id</th>
                  <th scope="col">Event Name</th>
                  <th scope="col">Context Name</th>
                  <th scope="col">Resubmition Status</th>
                  <th scope="col"  >From Date</th>
                  
                  <th scope="col" > To Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Camera Ready Context Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                  {% for details in reviewercontext %}
                  <tr>
                    <th scope="row">{{details.contextname.userid}}</th>
                    <td>{{details.contextname.pk}}</td>
                    <td>{{details.contextname.event.title}}</td>
                    <td>{{details.contextname.name}}</td>
                    <td>{% if details.contextname.submit_count == 1 %}Resubmitted{% else %}Reviewed/pending{% endif %}</td>
                    <td>{{details.contextname.event.from_date}}</td>
                    <td>{{details.contextname.event.to_date}}</td>
                    <td>
                        {% if details.contextname.status == 'pending' %}
                        
                        <span style=" border-radius: 3px;" class=" text-warning ">Pending</span>
                        {% elif details.contextname.status == 'accepted' %}
                      <span style=" border-radius: 3px;" class=" text-success ">Approved</span>
                        {% elif details.contextname.status == 'declined' %}
                      <span style=" border-radius: 3px;" class=" text-danger ">Declined</span>
                    </td>
                    {% endif %}


                    {% if details.contextname.status == 'accepted' %}
                    <td>
                      {% if details.contextname.camera_ready_submition_status == 'pending' %}
                      
                      <span style=" border-radius: 3px;" class=" text-warning ">Pending</span>
                      {% elif details.contextname.camera_ready_submition_status == 'accepted' %}
                    <span style=" border-radius: 3px;" class=" text-success ">Approved</span>
                      {% elif details.contextname.camera_ready_submition_status == 'declined' %}
                    <span style=" border-radius: 3px;" class=" text-danger ">Declined</span>
                    {% elif details.contextname.camera_ready_submition_status == 'active' %}
                    <span style=" border-radius: 3px;" class=" text-primary ">Active</span>
                    {% endif %}
                  </td>
                  {% else %}
                  <td></td>
                  {% endif %}
                    <td><a href="{% url 'reviewercontextpage' details.contextname.pk %}" class="btn btn-primary text-white ">details</a></td>
                    
                    
                    
                  </tr>
                  {% endfor %}
                
                
                
              </tbody>
            </table>
            </div>
            {%else%}
            <p class = "text-center h3 pt-3">No data Available </p>
            {% endif %}
      </div>
    <style>
        .table{
          border-radius: 5px;
          overflow: hidden;
          border-color: black;
    
        }
        
      </style>
      </div>
    {% endblock %}