{% extends 'navbar/dashboardnav.html' %}


{% load static %}

{% block content %}


<div class="container">

    <div class="row">


        <div class="col-md-12">
<h3>EVENT NAME:</h3>
            <table class="table table-hover">
                <thead>
                  <tr style="background-color:#585960; color:white ;">
                    <th scope="col">User name</th>
                    <th scope="col">email</th>
              
                    
                   
                  </tr>
                </thead>
                <tbody>
        {% for total_registered in total_registered %}
                    
                  <tr>
                    <th scope="row">{{total_registered.user_id.username}} 
                        
                    <td>{{total_registered.user_id.email}}</td>
                    

                    
                    
                  </tr>
                   
                 {% endfor %} 
                  
                </tbody>
              </table>

        </div>
    </div>
</div>


<style>
    .table{
      border-radius: 5px;
      overflow: hidden;
      border-color: black;

    }
  </style>












{% endblock %}